@model Ditmit.Models.HelpViewModel
@{

    ViewBag.Title = "Nabotjenesten";
    Layout = "/Views/Shared/_Layout.cshtml";

}


@* FJERNER COOKIESAMTYKKEN OG FJERNER FORMULAREN HVIS IKKE COOKIE ER GODKENDT *@
@{

    string VisCookieBoks;
    string VisHelpFormular;

    if (Request.Cookies["BrugerOplysninger"] != null)
    {
        VisCookieBoks = "Display:none";
        VisHelpFormular = "Display:block";
    }
    else
    {
        VisCookieBoks = "Display:block";
        VisHelpFormular = "Display:none";
    }
}

<div class="row justify-content-md-center">
    <div class="container col-md-auto">

        <section class="m-4 ">
            @* LOGIN-BRUGER-OPLYSNINGER *@

            <form action="/Home/Index?t=helper" role="form" method="post" class="border-info alert-info p-4" style=@VisCookieBoks>


                <div class="card text-center form-group">
                    <h1 class="card-header">Hvem er jeg?</h1>
                    <div class="card-body">
                        @* POSTNUMMER *@
                        <div class="form-group">
                            <label class="card-title" for="Helperperson.Postnummer">Postnummer</label>
                            <input type="text" class="form-control" name="Helperperson.Postnummer" id="Helperperson.Postnummer" placeholder="Hjælpens postnummer">
                            <div><span class="text-danger">@ViewBag.PostnummerFejlBesked</span></div>
                        </div>

                        @* EMAILADRESSE *@
                        <div class="form-group">
                            <label class="card-title" for="Helperperson.Email">Email</label>
                            <input type="text" class="form-control" name="Helperperson.Email" id="Helperperson.Email" placeholder="Din Emailadresse">
                            <div><span class="text-danger">@ViewBag.EmailadresseFejlBesked</span></div>
                        </div>

                        @* TELEFONNUMMER *@
                        <div class="form-group">
                            <label class=" card-title" for="Helperperson.Telefonnummer">Telefonnummer</label>
                            <input type="text" class="form-control" name="Helperperson.Telefonnummer" id="Helperperson.Telefonnummer" placeholder="Dit Telefonnummer">
                            <div><span class="text-danger">@ViewBag.TelefonnummerFejlBesked</span></div>
                        </div>

                        @* OPRET COOKIE *@
                        @* Denne boks dukker op og forsvinder med httppost fra controlleren *@
                        <div class="form-group cookie-alert form-check card-text p-2" style=@VisCookieBoks>
                            @* HVORDAN SÆTTES REQUIRED PÅ EN CHECKBOKS? SKAL DET LÆGGES I SQL-TABELLEN? HVORDAN REGISTRERES COOKIESAMTYKKE? *@
                            <h4>Cookies</h4>
                            <p>Dette website opsamler data om dit besøg. Ved at bruge siden accepterer du denne brug.</p>

                            <input type="checkbox" class="form-check-input cookie-button" id="accepter1" required>
                            @* submit-attributten afslutter postet i formularen *@
                            <label class="form-check-label" for="accepter1">Jeg accepterer at disse oplysninger bruges til at matche dig og andre hjælpere</label>


                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Begynd</button>
                </div>
            </form>



            <div class="container" style="@VisHelpFormular">
                @*Indholdet af cookien er*@
                <h5>Velkommen tilbage! <span class="badge badge-light">@ViewData["Value"]</span></h5>
                @* FJERN COOKIE *@
                <form class="form-group" action="/Home/?t=FjernCookie" method="post">
                    <input type="submit" class="cookie-button btn-primary" name="btnCookie" value="Slet Cookie" />
                </form>

            </div>
          



        </section>
    </div>
</div>

@* DISSE FORMULARER ER SKJULT INDTIL BRUGEROPLYSNINGER ER INDTASTET! *@
<div class="row">
    @ViewBag.Besked
    @* KASSE HVOR FOLK SKRIVER HJÆLP *@
    <div class="container col-lg-6 col-sm-12" style="@VisHelpFormular">

        <section class="m-4 ">
            @* HJÆLP TILBYDES *@
            @* attributten metode poster til action som ligger i HomeControllerens ActionResult ved navn AddHelpOffer *@
            <form action="/Home/Index?t=tilbud" role="form" method="post" class="border-info alert-info p-4">


                <div class="card text-center form-group">
                    @* Labelets attribut for="" henviser til modellen og bindes til input-tagget herunder  *@
                    <label class="card-header bg-info card-title h2" for="Helpitem.HelpText">Hvad tilbyder jeg?</label>
                    @* Inputtets type-attribut tager imod tekst. *@
                    @*id-attributten bindes til label-for-attributten og til name-attributten. Alle bindes til modellen*@
                    <div class="card-body">

                        <input type="text" class="form-control" name="Helpitem.HelpText" id="Helpitem.HelpText" aria-describedby="offeredHelp" placeholder="Hvad kan DU gøre for ANDRE">
                        <span class="text-danger">@ViewBag.TilbudFejlBesked</span>

                    </div>
                    @* submit-attributten afslutter postet i formularen *@
                    @* Der skal også sendes med, hvilken bruger der er logget ind. dvs. db.Helper.HelperID skal sendes med til db.Help.Helper_FK *@
                    <button type="submit" class="btn btn-primary">Send afsted</button>
                </div>
            </form>
        </section>
    </div>
    <div class="container col-lg-6 col-sm-12" style="@VisHelpFormular">
        @* MAGEN TIL OVENSTÅENDE *@
        <section class="m-4 ">
            @* HJÆLP ØNSKES *@

            <form action="/Home/Index?t=behov" role="form" method="post" class="border-danger alert-danger p-4">
                <div class="card text-center form-group">

                    <label class="card-header bg-danger card-title h2" for="Helpitem.HelpText">Hvad kan andre gøre for mig?</label>
                    <div class="card-body">
                        <input type="text" class="form-control" name="Helpitem.HelpText" id="Helpitem.HelpText" aria-describedby="wantedhelp" placeholder="Hvad ANDRE kan gøre for DIG">
                        <span class="text-danger">@ViewBag.BehovFejlBesked</span>

                    </div>
                    @* submit-attributten afslutter postet i formularen *@
                    <button type="submit" class="btn btn-primary">Send afsted</button>
                </div>



            </form>

        </section>
    </div>

    @* KASSE HVOR OUTPUT KOMMER. Enten hele tabellen eller søgeresultaterne *@


</div>
<div class="row">
    <div class="container col-12">
        <section class="m-4" style="border: 2px dashed gray;">

         
            @Html.Action("AltingTabel")

        </section>
    </div>
</div>