@model ASP_MVC_Skabelon.Models.LoginTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Ret", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
