@model Ditmit.Models.HelpViewModel

@{
    ViewBag.Title = "Det enkelte element";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string helpcolordanger = "badge-danger";
    string helpcolorinfo = "badge-info";
}



<div class="container">

    <div class="row p-sm-1 p-lg-5">

        @* Specifik Hjælpelement *@
        <div class="card col-md-4 col-sm-12 p-0 " >
            <div class="card-body p-0 " >
                @if (Model.Helpitem.HelpType_FK == 1)
                {
                    <h4 class="card-header mb-2 @helpcolordanger">@Model.Helpitem.HelpType.HelpType1</h4>
                }
                else
                {
                    <h4 class="card-header mb-2 @helpcolorinfo">@Model.Helpitem.HelpType.HelpType1</h4>

                }

                <p class="card-text p-4 text-center"><b>"@Model.Helpitem.HelpText"</b></p>
                <div class="card-group">
                    <a href="mailto:@Model.Helpitem.Helper.Email" class="btn btn-primary p-2 m-2">Kontakt via email</a>
                </div>
                <div class="card-group">
                    <a href="tel:@Model.Helpitem.Helper.Telefonnummer" class="btn btn-primary p-2 m-2">Kontakt via telefonnummer</a>
                </div>
                <p class="card-footer">Oprettet @Model.Helpitem.HelpDate.Value.ToString("dd/MM/yyyy HH:mm") i postdistrikt @Model.Helpitem.Helper.Postnummer</p>

            </div>
        </div>
        @* Kontaktformular *@
        <div class="col-md-8 col-sm-12">
            <div class="container">
                @* Formular til at sende emails med *@
                <form action="/Home/SendEnBesked" method="post">

                  

                    @*FELT  emailadressefelt *@
                    <div class="form-group row">
                        <label for="HvilkenEmailAfsender" class="col-sm-2 col-lg-6 col-form-label">Din emailadresse:</label>
                        <div class="col-sm-10 col-lg-6">
                            <input type="text" class="form-control" name="HvilkenEmailAfsender" id="HvilkenEmailAfsender" value="@Request.Cookies["BrugerOplysninger"]["Emailadresse"]">
                        </div>
                        @* Her kommer en fejlmeddelelese hvis emailadressen ikke er valid *@
                        <small id="HvilkenEmailAfsenderHelp" class="form-text text-muted"> @Html.ValidationMessage("HvilkenEmailAfsender")</small>
                    </div>




                    @*FELT Brugerens navn *@
                    <div class="form-group row">
                        <label for="HvilketAfsenderNavn" class="col-sm-2 col-lg-6 col-form-label">Dit Navn</label>
                        <div class="col-sm-10 col-lg-6">
                            <input type="text" class="form-control" name="HvilketAfsenderNavn" id="HvilketAfsenderNavn"  placeholder="Skriv dit navn her...">
                        </div>
                    </div>

                    @*FELT Emnefeltet *@
                    <div class="form-group row">
                        <label for="EmailEmne" class="col-sm-2 col-lg-6 col-form-label">Hvad drejer din henvendelse sig om</label>
                        <div class="col-sm-10 col-lg-6">
                            <input type="text" class="form-control" name="EmailEmne" id="EmailEmne" placeholder="Hvilken hjælp handler det om" value="Vedr. @Model.Helpitem.HelpType.HelpType1 i @Model.Helpitem.Helper.Postnummer" />
                        </div>
                    </div>


                    @* FELT Brødtekst *@
                    <div class="form-group row">
                        <label for="EmailKrop" class="col-sm-2 col-lg-6 col-form-label">Snak med din nabo om dette @Model.Helpitem.HelpType.HelpType1:</label>
                        <div class="col-sm-10 col-lg-6">
                            <textarea type="text" class="form-control" rows="6" name="EmailKrop" id="EmailKrop">Jeg vil gerne tage imod dit @Model.Helpitem.HelpType.HelpType1 hvor du skriver @Model.Helpitem.HelpText</textarea>
                        </div>

                    </div>

                    @* knap *@
                    <input type="submit" name="btnSendMail" value="Send en mail" />


                </form>
            </div>

        </div>


    </div>


</div>


