<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="description" content="Parallax is a single page Bootstrap theme made with different Bootstrap elements with parallax image background.">
    <title>Parallax Bootstrap Theme » WebNots</title>
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link href="/Content/style.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/animate-custom.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-32623223-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Navigation Menu Section -->
    <div id="navbar-main">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#home"><i class="fa fa-gears"></i> PARALLAX</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" class="smoothScroll"><i class="fa fa-home"></i> Home</a></li>
                        <li> <a href="#about" class="smoothScroll"><i class="fa fa-user"></i> About</a></li>
                        <li> <a href="#services" class="smoothScroll"><i class="fa fa-server"></i> Services</a></li>
                        <li> <a href="#portfolio" class="smoothScroll"><i class="fa fa-list"></i> Portfolio</a></li>
                        <li> <a href="#team" class="smoothScroll"><i class="fa fa-users"></i> Team</a></li>
                        <li> <a href="#contact" class="smoothScroll"><i class="fa fa-envelope"></i> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- Header Section -->
    <div id="headerwraper" name="home">
        <header class="clearfix">
            <h1>PARALLAX BOOTSTRAP TEMPLATE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="https://www.webnots.com/product/parallax-bootstrap-theme/" target="_blank" class="smoothScroll btn btn-md btn-lg" style="margin-right:20px;">Download Free</a>
            <a href="https://www.webnots.com/product/parallax-bootstrap-theme/" target="_blank" class="smoothScroll btn btn-md btn-lg">Download Now!!!</a>
        </header>
    </div>
    <!-- About Section -->
    <!-- Footer Section -->
    <div id="footerwraper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="copyright">
                        Copyright &copy; @DateTime.Now.Year <a href="https://www.webnots.com/" target="_blank">WebNots Web Consulting Services.</a>
                    </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/smoothscroll.js"></script>
    <script src="/Scripts/jquery-func.js"></script>
    <script src="/Scriptsjquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Scripts/modernizr.custom.js"></script>
</body>
</html>