@model NewsSite.Models.MyViewModel


<p>@Model.Kontaktoplysning.Firmanavn | @Model.Kontaktoplysning.Adresse, @Model.Kontaktoplysning.Postnummer @Model.Kontaktoplysning.City | @Model.Kontaktoplysning.email eller @Model.Kontaktoplysning.telefon</p>