<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NewsSite - @ViewBag.Title</title>
    @* Stilskema-link til ekstern CSS-fil *@
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @* HJEM-knap *@
        <a class="navbar-brand" href="#">@ViewBag.Title</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home">Forsiden <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Overskrifter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @* Viser et partial view med ChildActionOnly *@
                        @Html.Action("Overskrifter", "Home")
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Admin</a>
                </li>
            </ul>
            @* SØGEFORMULAR *@
            <form action="~/Home/SoegNyhed" method="post" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="Soegetxt" value="" placeholder="Søg her!" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Søg</button>
            </form>
            @* API-opslag *@
            <form class="form-inline my-2 my-lg-0">
                <label for="postnr">Postnummer</label>
                <input type="text" list="forslagsliste" id="inpPostnr" value="" autocomplete="off" />
                <datalist id="forslagsliste"></datalist>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        

        @RenderBody()

        <hr />
        <footer>
            @Html.Action("Footer", "Home")
            @Html.Action("Newsletter", "Home")
        </footer>
    </div>


    @* JavsScript ved slutning af body-tag *@
    @* Javascript jquery API-opslag *@
    <script src="~/Scripts/postnummeropslag.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
