@inherits Umbraco.Web.Macros.PartialViewMacroPage

	@{
		var valgtMedia = Model.MacroParameters["valgtMedia"];
		var galleriNavn = Model.MacroParameters["galleriNavn"];
	}

@if(galleriNavn != null)
{
	<h3>@galleriNavn</h3>
}

@if(valgtMedia != null)
{
	<div class="galleri">
		@foreach(var mediaId in valgtMedia.ToString().Split(','))
		{
			var media = Umbraco.Media(mediaId);
			
			@* Her er fundet et enkelt billede *@
			if(media.DocumentTypeAlias == "Image")
			{
				@VisBillede(media, galleriNavn.ToString());
			}
			
			@* Her er fundet en mappe *@
			if(media.Children("Image").Any())
			{
				foreach(var image in media.Children("Image"))
				{
					@VisBillede(image, galleriNavn.ToString());
				}
			}
		}
	</div>
}

@helper VisBillede(dynamic item, string gallerinavn)
{
		var h = Model.MacroParameters["height"] != "" ? Model.MacroParameters["height"].ToString() : "200";
		var w = Model.MacroParameters["width"] != "" ? Model.MacroParameters["width"].ToString() : "200";
	
	<a data-lightbox="@gallerinavn" href="@item.umbracoFile">
		<img src="@item.umbracoFile?vignette=true&width=@w&height=@h&mode=crop&quality=40" alt="@item.Name" />
	</a>
}