@model PotteryWeb.Models.VM
@{
    ViewBag.Title = "POpret";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container p-5 bg-light text-center ">
    <h2>Opret</h2>

    <form action="/Admin/POpret" method="post" class="border px-5 py-3" enctype="multipart/form-data">
        <span>@ViewBag.Besked</span>
        @Html.ValidationSummary()
        <div>
            <label for="Name">Vare navn</label> <br />
            <input type="text" name="tbProduct.ProductName" value="@Model.tbProduct.ProductName" id="Name" class="form-control" required />

        </div>

        <div>
            <label for="om">om produktet</label> <br />
            <textarea type="text" name="tbProduct.AboutProduct" id="om" class="form-control" required>@Model.tbProduct.AboutProduct</textarea>

        </div>
        <div>
            <label for="Price">Pris</label> <br />
            <input type="number" name="tbProduct.Price" value="@Model.tbProduct.Price" id="Price" class="form-control" required />

        </div>

        <div>
            <label for="Category">Vælg category</label> <br />
            <select id="Category" name="tbProduct.ProcuctCategory">
                @foreach (var item in Model.CategoryList)
                {

                    <option value="@item.IdCategory">
                        @item.Category
                    </option>
                }
            </select>

        </div> <br />
        <div>
            <label for="Img">Img</label> <br />
            <input type="file" name="tbProduct.ProductImg" value="@Model.tbProduct.ProductImg" id="Img" class="form-control" required />

        </div> <br />


        <input type="submit" name="name" value="send til database" />
        <div>
            <a class="btn bg-info text-white my-3" href="/Admin/ProductRev">Fortryd og gå til forsiden</a>
        </div>
    </form>
</div>




