@model NewsSite.Models.MyViewModel
@{
    ViewBag.Title = "NewsSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" id="forsidebanner">
    <h1>Forsiden @ViewBag.Title</h1>
    @* Viser et partial view med ChildActionOnly *@
    
    <p class="lead">Dagens Sjove Joke: @Html.Action("DagensGaade", "Home")</p>
    <p><a href="#nyhedsbrev" class="btn btn-primary btn-lg">Få tilsendt pr mail &raquo;</a></p>
</div>

@* Nyheder fra Database NyhederTable spyttet ud via model *@
<div class="row">
    @foreach (var item in Model.AllNews)
    {
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/img/Nyheder/@item.NyhederImage" alt="Billede til nyhed nummer @item.id">
                <div class="card-body">
                    <h5 class="card-title">@item.NyhederOverskrift</h5>
                    <p class="card-text">@item.NyhederTeaser</p>
                    <a href="/Home/EnkeltNyhed/@item.id" class="btn btn-primary">Læs resten...</a>
                </div>
            </div>
        </div>
    }
</div>

@* Kontaktformular *@
<div class="row">
    @Html.Action("ContactForm", "Home")
</div>
<div class="row" id="gaader">
    @* VidsteDuTable spyttet ud i en løkke  *@
    @foreach (var fact in Model.AllVidsteDu)
    {
        <div class="col-sm-3 col-lg-2">

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fact-@fact.id" aria-expanded="false" aria-controls="collapseExample">
                    @fact.VidsteDuOverskrift
                </button>
            </p>
            <div class="collapse" id="fact-@fact.id">
                <div class="card card-body">
                    @fact.VidsteDuTekst
                </div>
            </div>
        </div>
    }
    @foreach (var gaade in Model.AllGaader)
    {
        <div class="col-sm-3 col-lg-2">

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#gaade-@gaade.GaadeID" aria-expanded="false" aria-controls="collapseExample">
                    @gaade.GaadeSpoergsmaal
                </button>
            </p>
            <div class="collapse" id="gaade-@gaade.GaadeID">
                <div class="card card-body">
                    @gaade.GaadeSvar
                </div>
            </div>
        </div>
    }
</div>






