@model MVCcitater.Models.Citater
@{
    ViewBag.Title = "RetCitat";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>RetCitat</h2>
<P class="text-danger">@Html.ValidationSummary();</P>
<form action="/ADMIN/RetCitat" method="post">
    @*Citat overskrift*@
    <div class="form-group">
        <label for="CitatID">ID</label>
        <input type="text" name="CitatID" id="CitatID" value="@Model.CitatID" readonly/>
       

    </div>

    @*Citat overskrift*@
    <div class="form-group">
        <label for="CitatOverskrift">Overskrift</label>
        <input  class="form-control" type="text" name="CitatOverskrift" id="CitatOverskrift" value="@Model.CitatOverskrift" placeholder="Skriv en over skrift" />
        <span>@Html.ValidationMessage("CitatOverskrift")</span>

    </div>
    @*Citat tekst*@
    <div class="form-group">
        <label for="CitatTekst">Citat:</label>
        <textarea  class="form-control" name="CitatTekst"  id="CitatTekst"> </textarea>
        <span>@Html.ValidationMessage("CitatTekst")</span>

    </div>


    @*submit*@

    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-link" href="/ADMIN/Index">Til liste</a>

</form>

