@model Hjemmesideøvelse.Models.TegnefilmsfigurTabel
@{
    ViewBag.Title = "RetCartoon";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<div class="container bg-light">
    <h2>Ret Cartoon</h2>
    <form action="/Admin/RetCartoon" method="post" enctype="multipart/form-data">
        <div class="text-danger">@Html.ValidationSummary()</div>
        <div class="form-row">
            @*CartoonID*@
            <div class="form-group col-md-6">
                <label for="TegnefilmsfigurID">ID:</label>
                <input type="text" name="TegnefilmsfigurID" id="TegnefilmsfigurID" readonly value="@Model.TegnefilmsfigurID" />
            </div>
        </div>
            @*Cartoon navn*@
            <div class="form-group col-md-6">
                <label for="TegnefilmfigurNavn">Cartoon navn:</label>
                <input type="text" name="TegnefilmfigurNavn" id="TegnefilmfigurNavn" value="@Model.TegnefilmfigurNavn" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurNavn)</span>
            </div>

            @*Cartoon Beskrivelse*@
            <div class="form-row">
                <label for="TegnefilmfigurBeskrivelse">Cartoons Subscribe</label>
                <textarea class="form-control" id="TegnefilmfigurBeskrivelse" name="TegnefilmfigurBeskrivelse" va rows="3">@Model.CartoonsSubscribe</textarea>
                <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurBeskrivelse)</span>
            </div>
        
            @*billede filtet*@
        <div class="form-row">
            <div class="form-group col-md-6">

                @*nuværende billede*@
                <img src="~/Content/Img/@Model.TegnefilmfigurBillede" width="100" />


                @*hvis brugeren vil beholde det eksistende billede*@
                <input type="hidden" name="Photo" id="Photo" value="@Model.TegnefilmfigurBillede" />

                @*hvis brugeren vil have et andet billede*@
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="TegnefilmfigurBillede">Vælg en Photo</label>
                        <input type="file" name="TegnefilmfigurBillede" id="TegnefilmfigurBillede" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurBillede)</span>
                    </div>
                </div>
            </div>
        </div>
                    @*submit button*@
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary">Ret Cartoonen</button>
                            <a href="/Admin/" class="btn btn-success">fortryd uden Retelse</a>
                        </div>
                    </div>
                
            
        
    </form>
</div>