@model CartoonSite.Models.TegnefilmsfigurTabel
@{
    ViewBag.Title = "OpretNyCartoon";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}


<div class="container bg-light p-5">
    <h2 >Opret Ny Cartoon</h2>
    <form action="/Admin/OpretNyCartoon" method="post" enctype="multipart/form-data">
        <div class="text-danger">@Html.ValidationSummary()</div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="TegnefilmfigurNavn">Overskrift</label>
                <input type="text" name="TegnefilmfigurNavn" id="TegnefilmfigurNavn" value="@Model.TegnefilmfigurNavn" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurNavn)</span>
            </div>

            <div class="form-group col-md-6">
                <label for="TegnefilmfigurFoedt">Hvornår blev den til?</label>
                <input type="datetime" name="TegnefilmfigurFoedt" id="TegnefilmfigurFoedt" value="@Model.TegnefilmfigurFoedt" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <label for="TegnefilmfigurBeskrivelse">Beskrivesle?</label>
            <textarea class="form-control" id="TegnefilmfigurBeskrivelse" name="TegnefilmfigurBeskrivelse" rows="3"></textarea>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurBeskrivelse)</span>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="TegnefilmfigurBillede">Vælg en Photo</label>
                <input type="file" name="TegnefilmfigurBillede" id="TegnefilmfigurBillede"  class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.TegnefilmfigurBillede)</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Opret ny</button>
    </form>
</div>
